.container {
    display: flex;
    flex-wrap: wrap;
  
    
    }
    
    .image {
        transition: transform 0.3s ease-in-out;
        height: 200px;
        margin: 15px;
    } 
    
    .image:hover {
        transform: scale(3.0);
    }