.img {
    width: 380px;
   
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 200px;
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}