.image {
 width: 400px; 
   
}

.image:hover {
    width: 100%;
    border: 1px solid black;

}

.container {
    display: flex;
    flex-direction: column;
 
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    
}
h1{
    font-size: medium;
}

.productList {
    display: flex;
    justify-content: center;
    
}