.productList {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(198, 223, 192);
    list-style-type: none;
    margin: 0;
}

.productCard {
    margin: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 243, 248);
    border-radius: 15px;
    align-items: center;
  
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.imgContainer {
    height: 340px;
    width: 280px;
    align-items: center;
    overflow: hidden;
    
}



h1 {
    font-size: 36px;
    color: rgb(82, 71, 57);
    margin: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    object-fit: contain;
}

@media only screen and (max-width: 768px) {
    .productCard{
        display: flex;
        flex-direction: column;
    }
    
    .productList{
        display: flex;    
        align-items: center;
    }
    .imgContainer {
        height: 140px;
        width: 180px;
        align-items: center;
    }
      }